[Unit]
Description=ReadNext Sync Server
After=network.target

[Service]
Type=simple
User=zen
WorkingDirectory=/home/zen/antigs/readnext-server
ExecStart=/usr/bin/node server.js
Restart=on-failure
Environment=PORT=3000

[Install]
WantedBy=multi-user.target
